<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <!--<ref bean="stocksTaskTrigger" />-->
                <ref bean="stockPriceTaskTrigger" />
                <ref bean="stockZjlxDfcfTaskTrigger" />
                <ref bean="stockZjlxHXTaskTrigger" />
                <ref bean="stockZjlxThsTaskTrigger" />
                <ref bean="stockDailyKLineMA5TaskTrigger" />
                <ref bean="stockDailyKLineMA10TaskTrigger" />
                <ref bean="stockDailyKLineMA20TaskTrigger" />
                <ref bean="stockDailyKLineMA30TaskTrigger" />
                <ref bean="stockPriceJianKongTaskTrigger" />
                <ref bean="messageTaskTrigger" />
                <ref bean="chooseTaskTrigger" />
                <!--<ref bean="fhsgTaskTrigger" />-->
                <!--<ref bean="exportTaskTrigger" />-->
            </list>
        </property>
    </bean>

    <bean id="stockPriceJianKongTaskTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="stockPriceJianKongJobDetail" />
        <property name="cronExpression" value="0 25 9 * * ?" />
    </bean>
    <bean id="stockPriceJianKongJobDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!-- 指定任务类 -->
        <property name="targetObject" ref="stockPriceJianKong" />
        <!-- 指定任务执行的方法 -->
        <property name="targetMethod" value="execute" />
    </bean>
    <bean id="stockPriceJianKong" class="com.stocks.task.StockPriceJianKongTask"></bean>

    <bean id="stocksTaskTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="stocksTaskJobDetail" />
        <property name="cronExpression" value="0/60 * * * * ?" />
    </bean>
    <bean id="stocksTaskJobDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="stocksTask" />
        <property name="targetMethod" value="execute" />
    </bean>
    <bean id="stocksTask" class="com.stocks.task.StockTask"></bean>

    <bean id="messageTaskTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="messageJobDetail" />
        <property name="cronExpression" value="0 35 11 * * ?" />
    </bean>
    <bean id="messageJobDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="messageTask" />
        <property name="targetMethod" value="execute" />
    </bean>
    <bean id="messageTask" class="com.message.task.MessageTask"></bean>

    <bean id="stockPriceTaskTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="stockPriceTaskJobDetail" />
        <property name="cronExpression" value="0 0 18 * * ?" />
    </bean>
    <bean id="stockPriceTaskJobDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="stockPriceTask" />
        <property name="targetMethod" value="execute" />
    </bean>
    <bean id="stockPriceTask" class="com.stocks.task.StockPriceTask"></bean>

    <bean id="stockZjlxDfcfTaskTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="stockZjlxDfcfJobDetail" />
        <property name="cronExpression" value="0 15 18 * * ?" />
    </bean>
    <bean id="stockZjlxDfcfJobDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="stockZjlxDfcf" />
        <property name="targetMethod" value="execute" />
    </bean>
    <bean id="stockZjlxDfcf" class="com.stocks.task.StockZjlxDfcfTask"></bean>

    <bean id="stockZjlxHXTaskTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="stockZjlxHXJobDetail" />
        <property name="cronExpression" value="0 30 18 * * ?" />
    </bean>
    <bean id="stockZjlxHXJobDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="stockZjlxHx" />
        <property name="targetMethod" value="execute" />
    </bean>
    <bean id="stockZjlxHx" class="com.stocks.task.StockZjlxHxTask"></bean>

    <bean id="stockZjlxThsTaskTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="stockZjlxThsJobDetail" />
        <property name="cronExpression" value="0 45 18 * * ?" />
    </bean>
    <bean id="stockZjlxThsJobDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="stockZjlxThs" />
        <property name="targetMethod" value="execute" />
    </bean>
    <bean id="stockZjlxThs" class="com.stocks.task.StockZjlxThsTask"></bean>

    <bean id="stockDailyKLineMA5TaskTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="stockDailyKLineMA5JobDetail" />
        <property name="cronExpression" value="0 0 19 * * ?" />
    </bean>
    <bean id="stockDailyKLineMA5JobDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="stockDailyKLineMA5" />
        <property name="targetMethod" value="execute" />
    </bean>
    <bean id="stockDailyKLineMA5" class="com.stocks.task.kline.StockDailyKLineMA5Task"></bean>

    <bean id="stockDailyKLineMA10TaskTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="stockDailyKLineMA10JobDetail" />
        <property name="cronExpression" value="0 05 19 * * ?" />
    </bean>
    <bean id="stockDailyKLineMA10JobDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="stockDailyKLineMA10" />
        <property name="targetMethod" value="execute" />
    </bean>
    <bean id="stockDailyKLineMA10" class="com.stocks.task.kline.StockDailyKLineMA10Task"></bean>

    <bean id="stockDailyKLineMA20TaskTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="stockDailyKLineMA20JobDetail" />
        <property name="cronExpression" value="0 10 19 * * ?" />
    </bean>
    <bean id="stockDailyKLineMA20JobDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="stockDailyKLineMA20" />
        <property name="targetMethod" value="execute" />
    </bean>
    <bean id="stockDailyKLineMA20" class="com.stocks.task.kline.StockDailyKLineMA20Task"></bean>

    <bean id="stockDailyKLineMA30TaskTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="stockDailyKLineMA30JobDetail" />
        <property name="cronExpression" value="0 15 19 * * ?" />
    </bean>
    <bean id="stockDailyKLineMA30JobDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="stockDailyKLineMA30" />
        <property name="targetMethod" value="execute" />
    </bean>
    <bean id="stockDailyKLineMA30" class="com.stocks.task.kline.StockDailyKLineMA30Task"></bean>

    <bean id="chooseTaskTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="chooseJobDetail" />
        <property name="cronExpression" value="0 20 19 * * ?" />
    </bean>
    <bean id="chooseJobDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="chooseTask" />
        <property name="targetMethod" value="execute" />
    </bean>
    <bean id="chooseTask" class="com.stocks.task.choose.ChooseTask"></bean>

    <bean id="fhsgTaskTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="fhsgJobDetail" />
        <property name="cronExpression" value="0 0 12 * * ?" />
    </bean>
    <bean id="fhsgJobDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="fhsgTask" />
        <property name="targetMethod" value="execute" />
    </bean>
    <bean id="fhsgTask" class="com.stocks.task.StockFhsgTask"></bean>

    <bean id="exportTaskTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="exportJobDetail" />
        <property name="cronExpression" value="0 51 13 * * ?" />
    </bean>
    <bean id="exportJobDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="exportTask" />
        <property name="targetMethod" value="execute" />
    </bean>
    <bean id="exportTask" class="com.stocks.task.export.ExportTask"></bean>

</beans>