<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <property name="dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="connection.url">
            jdbc:mysql://localhost:3306/icc
        </property>
        <property name="connection.username">root</property>
        <property name="connection.password">123456</property>
        <property name="connection.driver_class">
            com.mysql.jdbc.Driver
        </property>
        <property name="show_sql">false</property>
        <property name="format_sql">true</property>
        <property name="current_session_context_class">thread</property>
        <property name="hbm2ddl.auto">update</property>

        <!-- Add POJO to here -->
        <mapping class="com.stocks.entity.StocksEntity" />
        <mapping class="com.stocks.entity.StocksPriceEntity" />
        <mapping class="com.stocks.entity.StocksPriceTimeEntity" />
        <mapping class="com.stocks.entity.StocksZjlxDfcfEntity" />
        <mapping class="com.stocks.entity.StocksZjlxHXEntity" />
        <mapping class="com.stocks.entity.StocksZjlxTHSEntity" />
        <mapping class="com.stocks.entity.StocksFhsgEntity" />
        <mapping class="com.stocks.entity.StocksGuDongEntity" />
        <mapping class="com.stocks.entity.StocksQuanZhongEntity" />
        <mapping class="com.stocks.entity.StocksDailyKLineMA5Entity" />
        <mapping class="com.stocks.entity.StocksDailyKLineMA10Entity" />
        <mapping class="com.stocks.entity.StocksDailyKLineMA20Entity" />
        <mapping class="com.stocks.entity.StocksDailyKLineMA30Entity" />
        <mapping class="com.stocks.entity.StocksDailyKLineMA60Entity" />
        <mapping class="com.stocks.entity.StocksParamsEntity" />
        <mapping class="com.message.entity.MessageEntity" />

    </session-factory>

</hibernate-configuration>