/mavenSpace/mavenWebBase/target
/mavenSpace/mavenWebBase/.idea
/springSpace/springMVCBase/.idea
/springSpace/srpingQuartz/.idea
/sic/.idea
/sic/target
/sic/sic.iml
/icc/sic/.idea
/icc/sic/target
/icc/sic/sic.iml
