
<div class="row">
  <div class="col-sm-6">
    <div class="panel">
      <div class="panel-heading">
        <div class="caption"> Inline</div>
      </div>
      <div class="panel-body text-left">
        <p>Mouse speed<span id="mousespeed"></span></p>
        <p>Inline<span values="5,6,7,9,10,2,2,1,10,5,6,7,9,10,2,2,1,10" class="sparkline"></span>line graphs<span values="15,2,2,6,2,3,8,9,9,12,10,1,3,4,6,12,10,9,8,10,6,7,5,10,19" class="sparkline"></span></p>
        <p>Bar charts<span values="5,6,7,2,0,-4,-2,4 " class="sparkbar"></span>negative values:<span values="5,6,3,9,2,7,5" class="sparkbar"></span>stacked:<span values="10,-5,-6,12,3,6,9,10" class="sparkbar"></span></p>
        <p>Composite inline<span id="compositeline" values="5,6,3,9,2,7,5,10,-5,-6,12,3,6,9,10"></span></p>
        <p>Inline with normal range<span id="normalline" values="5,6,3,9,2,7,5,5,6,3,9,2,7,5"></span></p>
        <p>Composite bar<span id="compositebar" values="5,6,3,9,2,7,5"></span></p>
        <p>Discrete<span values="4,6,7,7,4,3,2,1,4,4 ,4,6,7,7,4,3,2,1,4,4 " class="discrete1"></span><br/>Discrete with threshold<span id="discrete2" values="5,6,3,9,2,7,5,5,6,3,9,2,7,5"></span></p>
        <p>Customize size and colours<span id="linecustom" values="5,6,3,9,2,7,5"></span></p>
        <p>Tristate charts<span values="1,1,0,1,-1,-1,1,-1,0,0,1,1 " class="sparktristate"></span><br/>(think games won, lost or drawn)</p>
        <p>Tristate chart using a colour map:<span values="1,1,0,1,-1,-1,1,-1,0,0,1,1 " class="sparktristatecols"></span></p>
        <p>Box Plot:<span values="4,27,34,52,54,59,61,68,78,82,85,87,91,93,100 " class="sparkboxplot"></span><br/>Pre-computed box plot<span values="4,27,85,87,91,93,100" class="sparkboxplotraw"></span></p>
        <p>Pie charts<span values="5,6,3" class="sparkpie"></span><span values="5,6,3,9" class="sparkpie"></span><span values="5,6" class="sparkpie"></span></p>
        <p>Bullet charts<span values="10,12,12,9,7 " class="sparkbullet"></span><span values="10,0,12,9,7  " class="sparkbullet"></span><span values="10,10,12,1,2" class="sparkbullet"></span></p>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <div class="caption"> Composite Bar</div>
      </div>
      <div class="panel-body text-center">
        <div id="bigcomposite"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel">
      <div class="panel-heading">
        <div class="caption"> Pie Charts</div>
      </div>
      <div class="panel-body text-center">
        <div id="bigpie"></div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <div class="caption"> Line Charts</div>
      </div>
      <div class="panel-body text-center">
        <div id="bigline"></div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <div class="caption"> Click Events</div>
      </div>
      <div class="panel-body text-center">
        <div id="eventclick"></div>
      </div>
    </div>
  </div>
</div>