
<div class="row">
  <div class="col-md-6">
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Bar Chart</div>
      </div>
      <div class="panel-body text-center">
        <canvas id="bar-chart" width="400" height="300" style="max-width: 100%;"></canvas>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Area Chart</div>
      </div>
      <div class="panel-body text-center">
        <canvas id="polar-area-chart" width="400" height="300" style="max-width: 100%;"></canvas>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Doughnut Chart</div>
      </div>
      <div class="panel-body text-center">
        <canvas id="doughnut-chart" width="400" height="300" style="max-width: 100%;"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Line Chart</div>
      </div>
      <div class="panel-body text-center">
        <canvas id="line-chart" width="400" height="300" style="max-width: 100%;"></canvas>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Radar Chart</div>
      </div>
      <div class="panel-body text-center">
        <canvas id="radar-chart" width="400" height="300" style="max-width: 100%;"></canvas>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Pie Chart</div>
      </div>
      <div class="panel-body text-center"> 
        <canvas id="pie-chart" width="400" height="300" style="max-width: 100%;"></canvas>
      </div>
    </div>
  </div>
</div>