
<div class="row">
  <div class="col-md-6">
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Date Range Pickers</div>
      </div>
      <div class="panel-body">
        <form role="form" class="form-horizontal form-seperated">
          <div class="form-body">
            <div class="form-group">
              <label class="col-md-3 control-label">Date</label>
              <div class="col-md-7">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                  <input type="text" name="daterangepicker-default" class="form-control"/>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Date & Time</label>
              <div class="col-md-7">
                <div class="input-group">
                  <input type="text" name="daterangepicker-date-time" class="form-control"/>
                  <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Advance Date Range Picker</label>
              <div class="col-md-6">
                <div class="btn btn-success reportrange"><i class="fa fa-calendar"></i>&nbsp;<span></span>&nbsp;report&nbsp;<i class="fa fa-angle-down"></i>
                  <input type="hidden" name="datestart"/>
                  <input type="hidden" name="endstart"/>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6 col-md-offset-3">
                <button type="button" data-target="#date-range-picker-modal" data-toggle="modal" class="btn btn-info">Run with modal<i class="icon-arrow-right mls"></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Date Picker</div>
      </div>
      <div class="panel-body">
        <form role="form" class="form-horizontal form-seperated">
          <div class="form-body">
            <div class="form-group">
              <label class="col-md-3 control-label">Default</label>
              <div class="col-md-5">
                <input type="text" data-date-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" class="datepicker-default form-control"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Format</label>
              <div class="col-md-5">
                <input type="text" data-date-format="mm-dd-yyyy" placeholder="mm-dd-yyyy" class="datepicker-default form-control"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Start with years</label>
              <div class="col-md-5">
                <div class="input-group">
                  <input type="text" class="datepicker-years form-control"/>
                  <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Range</label>
              <div class="col-md-8">
                <div class="input-group input-daterange">
                  <input type="text" name="startdate" class="form-control"/><span class="input-group-addon">to</span>
                  <input type="text" name="enddate" class="form-control"/>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Inline</label>
              <div class="col-md-3">
                <div class="datepicker-inline"></div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6 col-md-offset-3">
                <button type="button" data-target="#date-picker-modal" data-toggle="modal" class="btn btn-info">Run with modal<i class="icon-arrow-right mls"></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Clockface Time Picker</div>
      </div>
      <div class="panel-body">
        <form role="form" class="form-horizontal form-seperated">
          <div class="form-body">
            <div class="form-group">
              <label class="col-md-3 control-label">Default</label>
              <div class="col-md-4">
                <input type="text" value="2:30 PM" data-format="hh:mm A" class="clockface-default form-control"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Clockface component</label>
              <div class="col-md-4">
                <div class="input-group">
                  <input type="text" value="2:30 PM" data-format="hh:mm A" class="clockface-component form-control"/><span class="input-group-btn btn-clockface-component">
                    <button type="button" class="btn btn-default"><i class="fa fa-clock-o"></i></button></span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Clockface Inline</label>
              <div class="col-md-4">
                <div style="padding: 0; float: left;" class="clockface-inline well"></div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6 col-md-offset-3">
                <button type="button" data-target="#clockface-picker-modal" data-toggle="modal" class="btn btn-info">Run with modal<i class="icon-arrow-right mls"></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Datetime Picker</div>
      </div>
      <div class="panel-body">
        <form role="form" name="datetime-picker" class="form-horizontal form-seperated">
          <div class="form-body">
            <div class="form-group">
              <label class="col-md-3 control-label">Default</label>
              <div class="col-md-6">
                <div class="input-group datetimepicker-default date">
                  <input type="text" name="datetime" class="form-control"/><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Disable date</label>
              <div class="col-md-6">
                <div class="input-group datetimepicker-disable-date date">
                  <input type="text" name="time" class="form-control"/><span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Disable time</label>
              <div class="col-md-6">
                <div class="input-group datetimepicker-disable-time date">
                  <input type="text" name="date" class="form-control"/><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Events and linked pickers</label>
              <div class="col-md-6">
                <div class="input-group datetimepicker-start date mbl">
                  <input type="text" name="datetime_event_start" class="form-control"/><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
              <div class="col-md-6 col-md-offset-3">
                <div class="input-group datetimepicker-end date">
                  <input type="text" name="datetime_event_end" class="form-control"/><span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6 col-md-offset-3">
                <button type="button" data-target="#datetime-picker-modal" data-toggle="modal" class="btn btn-info">Run with modal<i class="icon-arrow-right mls"></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Time Picker</div>
      </div>
      <div class="panel-body">
        <form role="form" class="form-horizontal form-seperated">
          <div class="form-body">
            <div class="form-group">
              <label class="col-md-3 control-label">Default</label>
              <div class="col-md-4">
                <div class="input-group bootstrap-timepicker">
                  <input type="text" class="timepicker-default form-control"/><span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Timepicker 24hr</label>
              <div class="col-md-4">
                <div class="input-group bootstrap-timepicker">
                  <input type="text" class="timepicker-24hr form-control"/><span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6 col-md-offset-3">
                <button type="button" data-target="#time-picker-modal" data-toggle="modal" class="btn btn-info">Run with modal<i class="icon-arrow-right mls"></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Color Picker</div>
      </div>
      <div class="panel-body">
        <form role="form" class="form-horizontal form-seperated">
          <div class="form-body">
            <div class="form-group">
              <label class="col-md-3 control-label">Default</label>
              <div class="col-md-9">
                <input type="text" class="colorpicker-default form-control"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">RGBA format</label>
              <div class="col-md-9">
                <input type="text" data-color-format="rgba" class="colorpicker-rgba form-control"/>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-9 col-md-offset-3">
                <button type="button" data-target="#color-picker-modal" data-toggle="modal" class="btn btn-info">Run with Modal<i class="icon-arrow-right mls"></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>