
<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="caption"> Basic</div>
      </div>
      <div class="panel-body">
        <div id="viewcode-map-gdp" class="viewcode-example">
          <div id="world-map-gdp" style="width: 100%; height: 400px"></div>
          <button id="focus-single" class="btn btn-default mtl mrl">Focus on Australia</button>
          <button id="focus-multiple" class="btn btn-default mtl mrl">Focus on Australia and Japan</button>
          <button id="focus-coords" class="btn btn-default mtl mrl">Focus on Cyprus</button>
          <button id="focus-init" class="btn btn-default mtl mrl">Return to the initial state</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="caption"> Reverse projection</div>
      </div>
      <div class="panel-body">
        <div id="viewcode-map-reverse" class="viewcode-example">
          <div id="map-reverse" style="width: 100%; height: 400px"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="caption"> Markers on the world map</div>
      </div>
      <div class="panel-body">
        <div id="viewcode-map-markers" class="viewcode-example">
          <div id="world-map-markers" style="width: 100%; height: 400px"></div>
        </div>
      </div>
    </div>
  </div>
</div>