
<div class="row">
  <div class="col-md-6">
    <div class="panel">
      <div class="panel-heading">
        <div class="caption"> Basic</div>
      </div>
      <div class="panel-body">
        <div id="viewcode-example" class="viewcode-example">
          <div id="map-basic"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel">
      <div class="panel-heading">
        <div class="caption"> Context menu</div>
      </div>
      <div class="panel-body">
        <div id="viewcode-map-context" class="viewcode-example">
          <div id="map-context"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="caption"> Geocoding</div>
      </div>
      <div class="panel-body">
        <div id="viewcode-map-geocoding" class="viewcode-example">
          <div class="input-group">
            <input id="address" type="text" class="form-control"/><span class="input-group-btn">
              <button id="geocoding_search" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button></span>
          </div>
          <div id="map-geocoding"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="caption"> Routes</div>
      </div>
      <div class="panel-body">
        <div id="viewcode-map-routes" class="viewcode-example">
          <div class="row">
            <div class="col-md-8">
              <div id="map-routes"></div>
            </div>
            <div class="col-md-4">
              <ol id="instructions" class="mtm"></ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="caption"> Travel route</div>
      </div>
      <div class="panel-body">
        <div id="viewcode-map-travel" class="viewcode-example">
          <div class="row">
            <div class="col-md-8">
              <div id="map-travel" class="large"></div>
            </div>
            <div class="col-md-4"><a id="get_route" href="#" class="btn btn-default btn-xs mrs mtm">Get route</a><a id="back" href="#" class="btn btn-default btn-xs mrs mtm">&laquo; Back</a><a id="forward" href="#" class="btn btn-default btn-xs mtm">Forward &raquo;</a>
              <ol id="steps" class="mtm"></ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>