
<div class="page-500">
  <div class="page-form">
    <form action="index.html" class="form">
      <div class="header-content">
        <h2 style="font-size: 50px">500</h2>
        <h4>Oops! Something went wrong.</h4>
        <p>We are fixing it!</p>
        <p>Please try again later.</p>
      </div>
      <div class="body-content">
        <div class="row">
          <div class="col-sm-5">
            <button type="submit" class="btn btn-success btn-circle btn-block btn-shadow mbs">Previous page</button>
          </div>
          <div class="col-sm-7 text-right"><a href="index.html" class="btn btn-default btn-circle btn-shadow mbs"><i class="icon-arrow-left"></i>&nbsp;
              Return home</a></div>
        </div>
      </div>
    </form>
  </div>
</div>