
<div class="timeline-wrapper">
  <ul class="timeline clearfix">
    <li class="post-list">
      <div class="timeline-badge"><a href="#" data-hover="tooltip" data-placement="top" data-original-title="11 hours ago via Twitter"></a></div>
      <div class="timeline-panel">
        <div class="avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/mlane/48.jpg" class="img-circle"/></div>
        <div class="post-body">
          <div class="desc"><strong class="post-user mrs">Diane Harris</strong><small class="text-muted">posted a new note</small>&nbsp; - &nbsp;<small class="text-muted">1 days ago at 6:18am</small></div>
          <div class="post-content"><a href="#" class="post-title"><img src="http://next-themes.com/mtek/code/assets/images/icon-html5.png" class="mrs"/><strong>HTML5 Weekly: A Free, Weekly Email Newsletter</strong></a>
            <div class="summary mts cleafix">
              <div class="img-wrapper"><img src="http://next-themes.com/mtek/code/assets/images/06.jpg" class="mrs"/></div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing.  Lorem ipsum dolor
                sit amet,consectetur adipisicing elit. Laudantium, quo. Lorem
                it amet,consectetur adipisicing elit. Laudantium, quo. Lorem
              </p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="action-post mtl"><a href="#"><i class="fa fa-heart-o mrx"></i>Like</a>&nbsp; - &nbsp;<a href="#"><i class="fa fa-comments-o mrx"></i>Comments</a>&nbsp; - &nbsp;<a href="#"><i class="fa fa-share-square-o mrx"></i>Share</a></div>
        </div>
      </div>
    </li>
    <li class="post-list">
      <div class="timeline-badge"><a href="#" data-hover="tooltip" data-placement="top" data-original-title="11 hours ago via Twitter"></a></div>
      <div class="timeline-panel">
        <div class="avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/48.jpg" class="img-circle"/></div>
        <div class="post-body">
          <div class="desc"><strong class="post-user mrs">Ava Martin</strong><small class="text-muted">posted a new note</small>&nbsp; - &nbsp;<small class="text-muted">1 days ago at 6:18am</small></div>
          <div class="post-content"><a href="#" class="post-title"><img src="http://next-themes.com/mtek/code/assets/images/icon-angular.png" class="mrs"/><strong>AngularJS Stories for Web Architects</strong></a>
            <div class="summary mts cleafix">
              <div class="img-wrapper"><img src="http://next-themes.com/mtek/code/assets/images/02-sm.jpg" class="mrs"/></div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing.  Lorem ipsum dolor
                sit amet,consectetur adipisicing elit. Laudantium, quo. Lorem
                it amet,consectetur adipisicing elit. Laudantium, quo. Lorem
                sit amet,consectetur adipisicing elit. Laudantium, quo. Lorem
                it amet,consectetur adipisicing elit. Laudantium, quo. Lorem
                sit amet,consectetur adipisicing elit. Laudantium, quo. Lorem
                it amet,consectetur adipisicing elit. Laudantium, quo. Lorem
              </p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="action-post mtl"><a href="#"><i class="fa fa-heart-o mrx"></i>Like</a>&nbsp; - &nbsp;<a href="#"><i class="fa fa-comments-o mrx"></i>Comments</a>&nbsp; - &nbsp;<a href="#"><i class="fa fa-share-square-o mrx"></i>Share</a></div>
        </div>
      </div>
    </li>
    <li class="post-list">
      <div class="timeline-badge"><a href="#" data-hover="tooltip" data-placement="top" data-original-title="11 hours ago via Twitter"></a></div>
      <div class="timeline-panel">
        <div class="avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/kurafire/48.jpg" class="img-circle"/></div>
        <div class="post-body">
          <div class="desc"><strong class="post-user mrs">Charlotte Robinson</strong><small class="text-muted">upload new photos</small>&nbsp; - &nbsp;<small class="text-muted">1 week ago at 9:18am</small></div>
          <div class="post-content clearfix">
            <div class="img-upload-wrap"><img src="http://next-themes.com/mtek/code/assets/images/04-sm.jpg" class="img-responsive mts"/><img src="http://next-themes.com/mtek/code/assets/images/05-sm.jpg" class="img-responsive mts"/><img src="http://next-themes.com/mtek/code/assets/images/07-sm.jpg" class="img-responsive mts"/><img src="http://next-themes.com/mtek/code/assets/images/09-sm.jpg" class="img-responsive mts"/></div>
          </div>
        </div>
      </div>
    </li>
    <li class="post-list">
      <div class="timeline-badge"><a href="#" data-hover="tooltip" data-placement="top" data-original-title="11 hours ago via Twitter"></a></div>
      <div class="timeline-panel">
        <div class="avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/chadengle/48.jpg" class="img-circle"/></div>
        <div class="post-body">
          <div class="desc"><strong class="post-user mrs">Sophia Lee</strong><small class="text-muted">upload new photos</small>&nbsp; - &nbsp;<small class="text-muted">1 week ago at 9:18am</small></div>
          <div class="post-content">
            <div class="row">
              <div class="col-md-6"><span class="task-item">Admin Template<small class="pull-right text-muted">80%</small></span>
                <div class="progress">
                  <div role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;" class="progress-bar progress-bar-orange"><span class="sr-only">80% Complete (success)</span></div>
                </div><span class="task-item">Wordpress Themes<small class="pull-right text-muted">40%</small></span>
                <div class="progress">
                  <div role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;" class="progress-bar progress-bar-success"><span class="sr-only">40% Complete (success)</span></div>
                </div><span class="task-item">Landing Page<small class="pull-right text-muted">67%</small></span>
                <div class="progress">
                  <div role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 67%;" class="progress-bar progress-bar-warning"><span class="sr-only">67% Complete (success)</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="post-list">
      <div class="timeline-badge"><a href="#" data-hover="tooltip" data-placement="top" data-original-title="11 hours ago via Twitter"></a></div>
      <div class="timeline-panel">
        <div class="avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/oliveirasimoes/48.jpg" class="img-circle"/></div>
        <div class="post-body">
          <div class="desc"><strong class="post-user mrs">Diane Harris</strong><small class="text-muted">posted a new note</small>&nbsp; - &nbsp;<small class="text-muted">1 days ago at 6:18am</small></div>
          <div class="post-content"><a href="#" class="post-title"><img src="http://next-themes.com/mtek/code/assets/images/icon-html5.png" class="mrs"/><strong>HTML5 Weekly: A Free, Weekly Email Newsletter</strong></a>
            <div class="summary mts cleafix">
              <div class="img-wrapper"><img src="http://next-themes.com/mtek/code/assets/images/04-sm.jpg" class="mrs"/></div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing.  Lorem ipsum dolor
                sit amet,consectetur adipisicing elit. Laudantium, quo. Lorem
                it amet,consectetur adipisicing elit. Laudantium, quo. Lorem
              </p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="action-post mtl"><a href="#"><i class="fa fa-heart-o mrx"></i>Like</a>&nbsp; - &nbsp;<a href="#"><i class="fa fa-comments-o mrx"></i>Comments</a>&nbsp; - &nbsp;<a href="#"><i class="fa fa-share-square-o mrx"></i>Share</a></div>
        </div>
      </div>
    </li>
    <li class="post-list">
      <div class="timeline-badge"><a href="#" data-hover="tooltip" data-placement="top" data-original-title="11 hours ago via Twitter"></a></div>
      <div class="timeline-panel">
        <div class="avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/claudioguglieri/48.jpg" class="img-circle"/></div>
        <div class="post-body">
          <div class="desc"><strong class="post-user mrs">Diane Harris</strong><small class="text-muted">posted a new note</small>&nbsp; - &nbsp;<small class="text-muted">1 days ago at 6:18am</small></div>
          <div class="post-content"><a href="#" class="post-title"><img src="http://next-themes.com/mtek/code/assets/images/icon-html5.png" class="mrs"/><strong>HTML5 Weekly: A Free, Weekly Email Newsletter</strong></a>
            <div class="summary mts cleafix">
              <div class="img-wrapper"><img src="http://next-themes.com/mtek/code/assets/images/05-sm.jpg" class="mrs"/></div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing.  Lorem ipsum dolor
                sit amet,consectetur adipisicing elit. Laudantium, quo. Lorem
                it amet,consectetur adipisicing elit. Laudantium, quo. Lorem
              </p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="action-post mtl"><a href="#"><i class="fa fa-heart-o mrx"></i>Like</a>&nbsp; - &nbsp;<a href="#"><i class="fa fa-comments-o mrx"></i>Comments</a>&nbsp; - &nbsp;<a href="#"><i class="fa fa-share-square-o mrx"></i>Share</a></div>
        </div>
      </div>
    </li>
  </ul>
</div>