
<div class="page-lock-screen">
  <div class="page-form">
    <form action="index.html" class="form">
      <div class="header-content text-center"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/_russellsmith/128.jpg" alt="avatar" class="img-circle mbm"/>
        <h1>Hi, Administrator !</h1>
      </div>
      <div class="body-content">
        <div class="list-group">
          <div class="list-group-item">
            <input type="password" placeholder="Enter password" class="text-center form-control"/>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-info btn-lg btn-circle btn-block btn-shadow">Continue</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>