
<div class="row">
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Search Result</div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <form role="form">
              <div class="input-group">
                <input type="text" placeholder="loki admin" class="form-control"/>
                <div class="input-group-btn">
                  <button class="btn btn-info">Search</button>
                </div>
              </div>
            </form>
            <p class="mtm">Search results for <strong>'loki admin'</strong></p>
            <div class="search-result mtl">
              <div class="row">
                <div class="tabbable-line">
                  <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#web" data-toggle="tab">Web<span class="badge badge-warning mls">8</span></a></li>
                    <li><a href="#user" data-toggle="tab">User<span class="badge badge-info mls">14</span></a></li>
                  </ul>
                  <div id="myTabContent" class="tab-content">
                    <div id="web" class="tab-pane fade in active">
                      <ul class="list-group">
                        <li class="list-group-item">
                          <h4><a href="#" class="mbm">Loki - Admin Bootstrap Template</a></h4>
                          <p class="cat mbs"><a href="#">Html</a> / <a href="#">Admin</a> / <a href="#">New item</a>
                          </p>
                          <p class="mbm">  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias hic optio autem obcaecati asperiores at vero, atque doloremque veniam quis voluptatum ipsam nulla incidunt temporibus fugit possimus expedita earum! Maxime.</p>
                          <p> <span>Tag:</span><span class="label label-default mls">admin</span><span class="label label-info mls">bootstrap</span></p>
                        </li>
                        <li class="list-group-item">
                          <h4><a href="#" class="mbm">150+ Components Page</a></h4>
                          <p class="cat mbs"><a href="#">Html</a> / <a href="#">Admin</a>
                          </p>
                          <p class="mbm">  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit possimus enim repellendus vero, quam, neque repellat culpa inventore dignissimos laborum asperiores odio magni fugit similique doloribus. Fugit asperiores adipisci tempora.</p>
                          <p> <span>Tag:</span><span class="label label-default mls">responsive</span><span class="label label-default mls">admin</span></p>
                        </li>
                        <li class="list-group-item">
                          <h4><a href="#" class="mbm">Standard code - Html/Css/Javascript</a></h4>
                          <p class="cat mbs"><a href="#">Html</a> / <a href="#">Admin</a>
                          </p>
                          <p class="mbm">  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat quaerat repudiandae, itaque tempora aspernatur quae aperiam fuga dolorum facilis libero cum, temporibus culpa veritatis debitis tempore dolore ipsa odio enim.</p>
                          <p> <span>Tag:</span><span class="label label-default mls">angular</span><span class="label label-default mls">html </span><span class="label label-default mls">css3 </span></p>
                        </li>
                        <li class="list-group-item">
                          <h4><a href="#" class="mbm">Admin Bootstrap Template</a></h4>
                          <p class="cat mbs"><a href="#">Html</a> / <a href="#">Admin</a>
                          </p>
                          <p class="mbm">  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae atque quidem quas vitae odit delectus nobis molestias est nam. Iste ad, consequatur placeat nihil eos laboriosam voluptates qui fugiat rem!</p>
                          <p> <span>Tag:</span><span class="label label-default mls">admin</span><span class="label label-default mls">bootstrap</span></p>
                        </li>
                        <li class="list-group-item">
                          <h4><a href="#" class="mbm">Admin Bootstrap Template</a></h4>
                          <p class="cat mbs"><a href="#">Html</a> / <a href="#">Admin</a>
                          </p>
                          <p class="mbm">  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo maiores pariatur harum libero blanditiis quibusdam nostrum aut, iste quod aliquid officiis modi suscipit inventore voluptatem quas quasi impedit debitis! Maxime?</p>
                          <p> <span>Tag:</span><span class="label label-default mls">responsive</span><span class="label label-default mls">admin</span></p>
                        </li>
                        <li class="list-group-item">
                          <h4><a href="#" class="mbm">Admin Bootstrap Template</a></h4>
                          <p class="cat mbs"><a href="#">Html</a> / <a href="#">Admin</a>
                          </p>
                          <p class="mbm">  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A similique consectetur, fugit non dolor saepe tenetur hic officia debitis! Laborum distinctio maxime sapiente a fuga error assumenda, minima reiciendis minus?</p>
                          <p> <span>Tag:</span><span class="label label-default mls">angular</span><span class="label label-default mls">html </span><span class="label label-default mls">css3</span></p>
                        </li>
                        <li class="list-group-item">
                          <h4><a href="#" class="mbm">Admin Bootstrap Template</a></h4>
                          <p class="cat mbs"><a href="#">Html</a> / <a href="#">Admin</a>
                          </p>
                          <p class="mbm">  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi asperiores, ab ratione voluptatibus. Est officiis id, rem itaque molestias, hic veritatis? Expedita excepturi debitis eius ipsum deleniti libero ab odit!</p>
                          <p> <span>Tag:</span><span class="label label-default mls">admin</span><span class="label label-info mls">bootstrap</span></p>
                        </li>
                        <li class="list-group-item">
                          <h4><a href="#" class="mbm">Admin Bootstrap Template</a></h4>
                          <p class="cat mbs"><a href="#">Html</a> / <a href="#">Admin</a>
                          </p>
                          <p class="mbm">  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque laborum delectus blanditiis praesentium eius eveniet ullam aperiam consequatur, aliquam, accusamus asperiores error, commodi animi quo debitis sit repudiandae, est inventore!</p>
                          <p> <span>Tag:</span><span class="label label-default mls">responsive</span><span class="label label-default mls">admin</span></p>
                        </li>
                        <li class="list-group-item">
                          <h4><a href="#" class="mbm">Admin Bootstrap Template</a></h4>
                          <p class="cat mbs"><a href="#">Html</a> / <a href="#">Admin</a>
                          </p>
                          <p class="mbm">  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, dolorem accusamus nobis ullam error eveniet assumenda rerum nam necessitatibus nostrum eaque, eligendi reiciendis blanditiis sunt autem quo id eius deleniti?</p>
                          <p> <span>Tag:</span><span class="label label-default mls">angular</span><span class="label label-default">'.mls html </span><span class="label label-default mls">css3</span></p>
                        </li>
                      </ul>
                    </div>
                    <div id="user" class="tab-pane fade">
                      <ul class="list-group">
                        <li class="list-group-item"><a href="#" class="avatar pull-left mrs"><img src="http://api.randomuser.me/portraits/men/27.jpg" class="img-circle"/></a>
                          <div class="info">
                            <h4><a href="#" class="mbm">John Doe<span class="label label-info mls">Designer</span></a></h4>
                            <p class="mbm">  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque aliquam cumque cum itaque qui ea tempora pariatur, vero autem porro laudantium repellat tempore at veritatis, repellendus nobis voluptatem quos sequi.</p>
                          </div>
                        </li>
                        <li class="list-group-item"><a href="#" class="avatar pull-left mrs"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/uxceo/48.jpg" class="img-circle"/></a>
                          <div class="info">
                            <h4><a href="#" class="mbm">Uxceo<span class="label label-warning mls">Developer</span></a></h4>
                            <p class="mbm">  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque minus asperiores, accusantium modi, quasi dicta necessitatibus labore est, temporibus et consectetur quisquam esse nulla quaerat veritatis delectus deserunt vero. Accusamus!</p>
                          </div>
                        </li>
                        <li class="list-group-item"><a href="#" class="avatar pull-left mrs"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jackmcdade/48.jpg" class="img-circle"/></a>
                          <div class="info">
                            <h4><a href="#" class="mbm">Jack Mcdade<span class="label label-default mls">User</span></a></h4>
                            <p class="mbm">  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, ut? Nostrum aliquid earum officiis maiores rerum culpa nisi, consectetur fugiat sint a libero dolorum fugit dignissimos quidem nulla quo magnam?</p>
                          </div>
                        </li>
                        <li class="list-group-item"><a href="#" class="avatar pull-left mrs"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/oliveirasimoes/48.jpg" class="img-circle"/></a>
                          <div class="info">
                            <h4><a href="#" class="mbm">Oliveira Simoes<span class="label label-default mls">Designer</span></a></h4>
                            <p class="mbm">  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nisi minus ab recusandae odio impedit unde, minima consequatur incidunt non. Expedita iure tempora officia est ullam cumque enim et autem.</p>
                          </div>
                        </li>
                        <li class="list-group-item"><a href="#" class="avatar pull-left mrs"><img src="http://api.randomuser.me/portraits/men/27.jpg" class="img-circle"/></a>
                          <div class="info">
                            <h4><a href="#" class="mbm">John Doe<span class="label label-default mls">Designer</span></a></h4>
                            <p class="mbm">  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quisquam incidunt delectus quas rem cumque illum ex tenetur libero, illo nisi culpa minima itaque ipsum autem non? Neque, debitis, maiores. </p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>