
<div class="page-404">
  <div class="page-form">
    <form action="index.html" class="form">
      <div class="header-content">
        <h2 style="font-size: 50px">404</h2>
        <h4>This is not the web page you are looking for.</h4>
        <p>Try the search bar below.</p>
      </div>
      <div class="body-content">
        <div class="list-group">
          <div class="list-group-item">
            <input type="password" placeholder="Keyword..." class="form-control"/>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <button type="submit" class="btn btn-success btn-circle btn-block btn-shadow mbs">Search</button>
          </div>
          <div class="col-sm-7 text-right"><a href="index.html" class="btn btn-default btn-circle btn-shadow mbs"><i class="icon-arrow-left"></i>&nbsp;
              Return home</a></div>
        </div>
      </div>
    </form>
  </div>
</div>