
<div class="pricing-table">
  <div class="row mtl">
    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="panel">
        <div class="panel-heading">
          <div class="caption">Basic</div>
        </div>
        <div class="panel-body pan text-center">
          <div class="the-price">
            <h1>$10<span class="subscript">/month</span></h1><small>1 month FREE trial</small>
          </div>
          <table class="table mbn">
            <tbody>
              <tr>
                <td>1 Account</td>
              </tr>
              <tr class="active">
                <td>1 Project</td>
              </tr>
              <tr>
                <td>100K API Access</td>
              </tr>
              <tr class="active">
                <td>100MB Storage</td>
              </tr>
              <tr>
                <td>Custom Cloud Services</td>
              </tr>
              <tr class="active">
                <td>Weekly Reports</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="panel-footer pal">
          <p class="text-muted text-center"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, fuga.</p><a href="javascript:void(0);" role="button" class="btn btn-success btn-block">Purchase now</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="panel">
        <div class="ribbon-wrapper">
          <div class="ribbon-inner">Hot</div>
        </div>
        <div class="panel-heading">
          <div class="caption">Professional</div>
        </div>
        <div class="panel-body pan text-center">
          <div class="the-price">
            <h1>$20<span class="subscript">/month</span></h1><small>1 month FREE trial</small>
          </div>
          <table class="table mbn">
            <tbody>
              <tr>
                <td>2 Account</td>
              </tr>
              <tr class="active">
                <td>5 Project</td>
              </tr>
              <tr>
                <td>100K API Access</td>
              </tr>
              <tr class="active">
                <td>200MB Storage</td>
              </tr>
              <tr>
                <td>Custom Cloud Services</td>
              </tr>
              <tr class="active">
                <td>Weekly Reports</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="panel-footer pal">
          <p class="text-muted text-center"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, amet.</p><a href="javascript:void(0);" role="button" class="btn btn-success btn-block">Purchase now</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="panel">
        <div class="panel-heading">
          <div class="caption">Premium</div>
        </div>
        <div class="panel-body pan text-center">
          <div class="the-price">
            <h1>$35<span class="subscript">/month</span></h1><small>1 month FREE trial</small>
          </div>
          <table class="table mbn">
            <tbody>
              <tr>
                <td>5 Account</td>
              </tr>
              <tr class="active">
                <td>20 Project</td>
              </tr>
              <tr>
                <td>300K API Access</td>
              </tr>
              <tr class="active">
                <td>500MB Storage</td>
              </tr>
              <tr>
                <td>Custom Cloud Services</td>
              </tr>
              <tr class="active">
                <td>Weekly Reports</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="panel-footer pal">
          <p class="text-muted text-center"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, earum.</p><a href="javascript:void(0);" role="button" class="btn btn-success btn-block">Purchase now</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="panel">
        <div class="panel-heading">
          <div class="caption">Ultimate</div>
        </div>
        <div class="panel-body pan text-center">
          <div class="the-price">
            <h1>$99<span class="subscript">/month</span></h1><small>1 month FREE trial</small>
          </div>
          <table class="table mbn">
            <tbody>
              <tr>
                <td>Unlimited Account</td>
              </tr>
              <tr class="active">
                <td>Unlimited Project</td>
              </tr>
              <tr>
                <td>3000K API Access</td>
              </tr>
              <tr class="active">
                <td>Unlimited Storage</td>
              </tr>
              <tr>
                <td>Custom Cloud Services</td>
              </tr>
              <tr class="active">
                <td>Weekly Reports</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="panel-footer pal">
          <p class="text-muted text-center"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, dolor.</p><a href="javascript:void(0);" role="button" class="btn btn-success btn-block">Purchase now</a>
        </div>
      </div>
    </div>
  </div>
</div>