
<div class="page-invoice">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body">
          <div class="invoice-title">
            <div class="row">
              <div class="col-lg-12 mbxl">
                <h2>Invoice</h2>
              </div>
              <div class="col-lg-6"><img src="http://next-themes.com/loki/code/assets/images/google_logo.png" style="width: 150px;" class="mbm"/>
                <p> <a href="http://www.google.com"> <strong>www.google.com</strong></a></p>
                <p style="width: 200px">75 Ninth Avenue 2nd and 4th Floors New York</p>
                <p> <strong>Phone: </strong><span>+1 212-565-0000</span></p>
                <p> <strong>Fax: </strong><span>+1 212-565-0001</span></p>
              </div>
              <div class="col-lg-6">
                <h4 class="pull-right"> <span class="text-warning">#12345</span>&nbsp;|&nbsp;<span>October 10, 2014</span></h4>
              </div>
            </div>
          </div>
          <hr/>
          <div class="well">
            <div class="row">
              <div class="col-md-6">
                <address><strong>Billed To:</strong><br/>John Smith<br/>1234 Main<br/>Apt. 4B<br/>Springfield, ST 54321</address>
              </div>
              <div class="col-md-6">
                <address><strong>Shipped To:</strong><br/>Jane Smith<br/>1234 Main<br/>Apt. 4B<br/>Springfield, ST 54321</address>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <address><strong>Payment Method:</strong><br/>Visa ending **** 4242<br/>example@email.com</address>
              </div>
              <div class="col-md-6">
                <address><strong>Order Date: </strong>March 7, 2014<br/><strong>Order Status: </strong><span class="label label-success">Success</span><br/></address>
              </div>
            </div>
          </div>
          <h4 class="block-heading">Order summary</h4>
          <div class="table-responsive">
            <table class="table table-condensed table-striped">
              <thead>
                <tr>
                  <td><strong>Item</strong></td>
                  <td class="text-center"><strong>Price</strong></td>
                  <td class="text-center"><strong>Quantity</strong></td>
                  <td class="text-right"><strong>Totals</strong></td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>G-AdWords 200</td>
                  <td class="text-center">$10.99</td>
                  <td class="text-center">1</td>
                  <td class="text-right">$10.99</td>
                </tr>
                <tr>
                  <td>G-AdWords 400</td>
                  <td class="text-center">$20.00</td>
                  <td class="text-center">3</td>
                  <td class="text-right">$60.00</td>
                </tr>
                <tr>
                  <td>G-AdWords 1000</td>
                  <td class="text-center">$600.00</td>
                  <td class="text-center">1</td>
                  <td class="text-right">$600.00</td>
                </tr>
              </tbody>
            </table>
            <div style="width: 200px" class="total pull-right">
              <p><strong class="pull-left">Sub-Total</strong><span class="pull-right">$670.99</span></p>
              <div class="clearfix"></div>
              <p><strong class="pull-left">Shipping</strong><span class="pull-right">$15</span></p>
              <div class="clearfix"></div>
              <hr/>
              <p><strong class="pull-left mts">Total</strong><strong class="pull-right fz18">$685.99</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>