
<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Projects</div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="tree-projects table table-striped table-condensed mbn">
            <thead>
              <tr>
                <th>Porjects</th>
                <th width="13%">Member</th>
                <th width="10%">Points</th>
                <th width="13%">Status</th>
                <th width="13%">Deadline</th>
                <th width="10%">Priority</th>
              </tr>
            </thead>
            <tbody>
              <tr class="treegrid-1">
                <td>Project 1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="treegrid-2 treegrid-parent-1">
                <td>Feature 1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="treegrid-3 treegrid-parent-2">
                <td><a href="#" class="text-link">Sed ut perspiciatis unde</a></td>
                <td>Corey Smith</td>
                <td>10 Point</td>
                <td>
                  <div class="label label-default">Closed</div>
                </td>
                <td>03.10.2014</td>
                <td>
                  <div class="label label-success">Normal</div>
                </td>
              </tr>
              <tr class="treegrid-4 treegrid-parent-2">
                <td><a href="#" class="text-link">Omnis iste natus error sit</a></td>
                <td>Isabella Allen</td>
                <td>14 Point</td>
                <td>
                  <div class="label label-default">Closed</div>
                </td>
                <td>03.10.2014</td>
                <td>
                  <div class="label label-success">Normal</div>
                </td>
              </tr>
              <tr class="treegrid-6 treegrid-parent-1">
                <td>Feature 2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="treegrid-7 treegrid-parent-6">
                <td><a href="#" class="text-link">Nemo enim ipsam voluptatem quia voluptas</a></td>
                <td>Ellie Adams</td>
                <td>15 Point</td>
                <td>
                  <div class="label label-warning">New</div>
                </td>
                <td>03.10.2014</td>
                <td>
                  <div class="label label-danger">Urgent</div>
                </td>
              </tr>
              <tr class="treegrid-8 treegrid-parent-6">
                <td><a href="#" class="text-link">Ullam corporis suscipit laboriosam</a></td>
                <td>Hannah Davis</td>
                <td>30 Point</td>
                <td>
                  <div class="label label-default">Closed</div>
                </td>
                <td>03.10.2014</td>
                <td>
                  <div class="label label-success">Normal</div>
                </td>
              </tr>
              <tr class="treegrid-9">
                <td>Project 2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="treegrid-10 treegrid-parent-9">
                <td>Feature 1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="treegrid-11 treegrid-parent-10">
                <td><a href="#" class="text-link">Temporibus autem quibusdam</a></td>
                <td>Dylan Reynolds</td>
                <td>50 Point</td>
                <td>
                  <div class="label label-warning">New</div>
                </td>
                <td>03.10.2014</td>
                <td>
                  <div class="label label-success">Normal</div>
                </td>
              </tr>
              <tr class="treegrid-12 treegrid-parent-10">
                <td><a href="#" class="text-link">Nam libero tempore, cum soluta nobis</a></td>
                <td>Ellis Shaw</td>
                <td>35 Point</td>
                <td>
                  <div class="label label-default">Closed</div>
                </td>
                <td>03.10.2014</td>
                <td>
                  <div class="label label-success">Normal</div>
                </td>
              </tr>
              <tr class="treegrid-13 treegrid-parent-9">
                <td>Feature 2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="treegrid-14 treegrid-parent-13">
                <td><a href="#" class="text-link">At vero eos et accusamus et iusto</a></td>
                <td>Hannah Graham</td>
                <td>40 Point</td>
                <td>
                  <div class="label label-warning">New</div>
                </td>
                <td>03.10.2014</td>
                <td>
                  <div class="label label-danger">Urgent</div>
                </td>
              </tr>
              <tr class="treegrid-15 treegrid-parent-13">
                <td><a href="#" class="text-link">Itaque earum rerum hic tenetur</a></td>
                <td>Maddison Baker</td>
                <td>47 Point</td>
                <td>
                  <div class="label label-warning">New</div>
                </td>
                <td>03.10.2014</td>
                <td>
                  <div class="label label-success">Normal</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>