
<div class="demo-datepaginator">
  <div class="row">
    <div class="col-md-12">
      <div class="note note-success"><strong><i class="fa fa-tags"></i>Bootstrap Date Paginator</strong>
        <p>   A jQuery plugin which takes Twitter Bootstrap's already great pagination component and injects a bit of date based magic. In the process creating a hugely simplified and modularised way of paging date based results in your application. For more info please check out the <a href="http://jondmiles.com/bootstrap-datepaginator/" target="_blank">official documentation .</a></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <div class="caption">Default</div>
        </div>
        <div class="panel-body">
          <div class="paginator"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <div class="caption">On Date Selected Event Hanlder(try to select a date)</div>
        </div>
        <div class="panel-body">
          <div class="paginator paginator-select paginator-success"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <div class="caption">Size Date Paginator</div>
        </div>
        <div class="panel-body"><code>.paginator-xs</code>
          <div class="paginator paginator-success paginator-xs"></div><code>.paginator-sm</code>
          <div class="paginator paginator-success paginator-sm"></div><code>.paginator-md</code>
          <div class="paginator paginator-success"></div><code>.paginator-lg</code>
          <div class="paginator paginator-success paginator-lg"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <div class="caption">Color Date Paginator</div>
        </div>
        <div class="panel-body"><code>.paginator-primary</code>
          <div class="paginator paginator-primary"></div><code>.paginator-info</code>
          <div class="paginator paginator-info"></div><code>.paginator-success</code>
          <div class="paginator paginator-success"></div><code>.paginator-danger</code>
          <div class="paginator paginator-danger"></div><code>.paginator-warning</code>
          <div class="paginator paginator-warning"></div>
        </div>
      </div>
    </div>
  </div>
</div>