
<div class="demo-general">
  <div class="row">
    <div class="col-md-6">
      <div class="heading-box">Alerts</div>
      <div class="panel">
        <div class="panel-heading">
          <div class="caption">Default Alerts</div>
        </div>
        <div class="panel-body">
          <div class="bs-example">
            <div class="alert alert-success">
              <div class="alert-icon fa fa-check-circle"></div>
              <div class="alert-content"><strong>Well done!</strong>
                <p>You successfully read this important alert message.</p>
              </div>
            </div>
            <div class="alert alert-info">
              <div class="alert-icon fa fa-info-circle"></div>
              <div class="alert-content"><strong>Heads up!</strong>
                <p>This alert needs your attention, but it's not super important.</p>
              </div>
            </div>
            <div class="alert alert-warning">
              <div class="alert-icon fa fa-warning"></div>
              <div class="alert-content"><strong>Warning!</strong>
                <p>Best check yo self, you're not looking too good.</p>
              </div>
            </div>
            <div class="alert alert-danger">
              <div class="alert-icon fa fa-minus-circle"></div>
              <div class="alert-content"><strong>Oh snap!</strong>
                <p>Change a few things up and try submitting again.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <div class="caption">Dismissable Alerts</div>
        </div>
        <div class="panel-body">
          <div class="alert alert-success alert-dismissable fade in">
            <div class="alert-icon fa fa-check-circle"></div>
            <button type="button" data-dismiss="alert" class="close">&times;</button>
            <div class="alert-content"><strong>Well done!</strong>
              <p>You successfully read this important alert message.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <div class="caption">Links In Alerts</div>
        </div>
        <div class="panel-body">
          <div class="alert alert-success alert-dismissable fade in">
            <div class="alert-icon fa fa-check-circle"></div>
            <button type="button" data-dismiss="alert" aria-hidden="true" class="close">&times;</button>
            <div class="alert-content"><strong>Well done!</strong>
              <p>You successfully read <a href="#" class="alert-link">this important alert message</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <div class="caption">Repeating Pulsate Alerts</div>
        </div>
        <div class="panel-body">
          <div data-pulsate="{glow:false}" class="alert alert-success alert-dismissable fade in">
            <div class="alert-icon fa fa-check-circle"></div>
            <button type="button" data-dismiss="alert" aria-hidden="true" class="close">&times;</button>
            <div class="alert-content"><strong>Well done!</strong>
              <p>You successfully read this important alert message.</p>
            </div>
          </div>
          <div data-pulsate="{glow:false}" class="alert alert-info alert-dismissable fade in">
            <div class="alert-icon fa fa-info-circle"></div>
            <button type="button" data-dismiss="alert" aria-hidden="true" class="close">&times;</button>
            <div class="alert-content"><strong>Heads up!</strong>
              <p>This alert needs your attention, but it's not super important.</p>
            </div>
          </div>
          <div data-pulsate="{glow:false}" class="alert alert-warning alert-dismissable fade in">
            <div class="alert-icon fa fa-warning"></div>
            <button type="button" data-dismiss="alert" aria-hidden="true" class="close">&times;</button>
            <div class="alert-content"><strong>Warning!</strong>
              <p>Best check yo self, you're not looking too good.</p>
            </div>
          </div>
          <div data-pulsate="{glow:false}" class="alert alert-danger alert-dismissable fade in">
            <div class="alert-icon fa fa-minus-circle"></div>
            <button type="button" data-dismiss="alert" aria-hidden="true" class="close">&times;</button>
            <div class="alert-content"><strong>Oh snap!</strong>
              <p>Change a few things up and try submitting again.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="heading-box">Badge</div>
      <div class="panel">
        <div class="panel-heading">
          <div class="caption">Badges Basic</div>
        </div>
        <div class="panel-body text-center"><span class="badge badge-default">1</span>&nbsp;<span class="badge badge-primary">2</span>&nbsp;<span class="badge badge-success">3</span>&nbsp;<span class="badge badge-warning">4</span>&nbsp;<span class="badge badge-info">5</span>&nbsp;<span class="badge badge-danger">6</span>&nbsp;</div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <div class="caption">Badges Square</div>
        </div>
        <div class="panel-body text-center"><span class="badge badge-default badge-none-radius">1</span>&nbsp;<span class="badge badge-primary badge-none-radius">2</span>&nbsp;<span class="badge badge-success badge-none-radius">3</span>&nbsp;<span class="badge badge-warning badge-none-radius">4</span>&nbsp;<span class="badge badge-info badge-none-radius">5</span>&nbsp;<span class="badge badge-danger badge-none-radius">6</span>&nbsp;</div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <div class="caption">Badges Shadow</div>
        </div>
        <div class="panel-body text-center"><span class="badge badge-default badge-none-radius badge-shadow">1</span>&nbsp;<span class="badge badge-primary badge-none-radius badge-shadow">2</span>&nbsp;<span class="badge badge-success badge-none-radius badge-shadow">3</span>&nbsp;<span class="badge badge-warning badge-none-radius badge-shadow">4</span>&nbsp;<span class="badge badge-info badge-none-radius badge-shadow">5</span>&nbsp;<span class="badge badge-danger badge-none-radius badge-shadow">6</span>&nbsp;</div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <div class="caption">Badges Pulsate</div>
        </div>
        <div class="panel-body text-center"><span data-pulsate="{border:false,speed:200,reach: 50}" class="badge badge-default">1</span>&nbsp;<span data-pulsate="{border:false,speed:200,reach: 50}" class="badge badge-primary">2</span>&nbsp;<span data-pulsate="{border:false,speed:200,reach: 50}" class="badge badge-success">3</span>&nbsp;<span data-pulsate="{border:false,speed:200,reach: 50}" class="badge badge-warning">4</span>&nbsp;<span data-pulsate="{border:false,speed:200,reach: 50}" class="badge badge-info">5</span>&nbsp;<span data-pulsate="{border:false,speed:200,reach: 50}" class="badge badge-danger">6</span>&nbsp;</div>
      </div>
      <div class="heading-box">Media object</div>
      <div class="panel">
        <div class="panel-body">
          <div class="media"><a href="#" class="pull-left"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/enda/128.jpg" alt="" class="media-object"/></a>
            <div class="media-body">
              <h4 class="media-heading">SChodankar</h4>Cras sit amet nibh libero, in gravida nulla. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
              <div class="media-link"><a>Reply</a>-<a>4 hrs</a></div>
            </div>
          </div>
          <div class="media"><a href="#" class="pull-left"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/_shahedk/128.jpg" alt="" class="media-object"/></a>
            <div class="media-body">
              <h4 class="media-heading">danvin</h4>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
              <div class="media-link"><a>Reply</a>-<a>5 hrs</a></div>
              <div class="media media-shadow"><a href="#" class="pull-left"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/ladylexy/128.jpg" alt="" class="media-object"/></a>
                <div class="media-body">
                  <h4 class="media-heading">tiagozc</h4>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                  <div class="media-link"><a>5 hrs</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="media"><a href="#" class="pull-left"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/syswarren/128.jpg" alt="" class="media-object"/></a>
            <div class="media-body">
              <h4 class="media-heading">jamesaps</h4>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
              <div class="media-link"><a>Reply</a>-<a>8 hrs</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="heading-box">Tooltip</div>
      <div class="panel">
        <div class="panel-body text-center">
          <button type="button" data-hover="tooltip" data-placement="left" title="Tooltip on left" class="btn btn-success">Left</button>&nbsp;
          <button type="button" data-hover="tooltip" data-placement="top" title="Tooltip on top" class="btn btn-success">Top</button>&nbsp;
          <button type="button" data-hover="tooltip" data-placement="bottom" title="Tooltip on bottom" class="btn btn-success">Bottom</button>&nbsp;
          <button type="button" data-hover="tooltip" data-placement="right" title="Tooltip on right" class="btn btn-success">Right</button>
        </div>
      </div>
      <div class="heading-box">Popovers</div>
      <div class="panel">
        <div class="panel-body text-center">
          <button type="button" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." class="btn btn-danger">Left</button>&nbsp;
          <button type="button" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." class="btn btn-danger">Top</button>&nbsp;
          <button type="button" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." class="btn btn-danger">Bottom</button>&nbsp;
          <button type="button" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." class="btn btn-danger">Right</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="heading-box">Notes</div>
      <div class="panel">
        <div class="panel-heading">
          <div class="caption">Default Notes</div>
        </div>
        <div class="panel-body">
          <div class="note note-success">
            <p>Nisi erat mattis consectetur purus sit amet porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
          </div>
          <div class="note note-info">
            <p>Nisi erat mattis consectetur purus sit amet porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
          </div>
          <div class="note note-warning">
            <p>Nisi erat mattis consectetur purus sit amet porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
          </div>
          <div class="note note-danger">
            <p>Nisi erat mattis consectetur purus sit amet porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <div class="caption">Title Notes</div>
        </div>
        <div class="panel-body">
          <div class="note note-success"><strong><i class="fa fa-tags"></i>Success! Duis mollis, est non commodo luctus</strong>
            <p>Nisi erat mattis consectetur purus sit amet porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <div class="caption">Notes shadow</div>
        </div>
        <div class="panel-body">
          <div class="note note-success note-shadow"><strong><i class="fa fa-tags"></i>Success! Duis mollis, est non commodo luctus</strong>
            <p>Nisi erat mattis consectetur purus sit amet porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
          </div>
        </div>
      </div>
      <div class="heading-box">Progress bars</div>
      <div class="panel">
        <div class="panel-heading">
          <div class="caption">Basic</div>
        </div>
        <div class="panel-body">
          <div class="progress">
            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;" class="progress-bar progress-bar-success"><span class="sr-only">60% Complete</span></div>
          </div>
          <div class="progress">
            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;" class="progress-bar progress-bar-info"><span class="sr-only">60% Complete</span></div>
          </div>
          <div class="progress">
            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;" class="progress-bar progress-bar-warning"><span class="sr-only">60% Complete</span></div>
          </div>
          <div class="progress">
            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;" class="progress-bar progress-bar-danger"><span class="sr-only">60% Complete</span></div>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <div class="caption">Striped</div>
        </div>
        <div class="panel-body">
          <div class="progress">
            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;" class="progress-bar progress-bar-success progress-bar-striped"><span class="sr-only">60% Complete</span></div>
          </div>
          <div class="progress">
            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;" class="progress-bar progress-bar-info progress-bar-striped"><span class="sr-only">60% Complete</span></div>
          </div>
          <div class="progress">
            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;" class="progress-bar progress-bar-warning progress-bar-striped"><span class="sr-only">60% Complete</span></div>
          </div>
          <div class="progress">
            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;" class="progress-bar progress-bar-danger progress-bar-striped"><span class="sr-only">60% Complete</span></div>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <div class="caption">Striped</div>
        </div>
        <div class="panel-body">
          <div class="progress">
            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;" class="progress-bar progress-bar-success progress-bar-striped active"><span class="sr-only">60% Complete</span></div>
          </div>
          <div class="progress">
            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;" class="progress-bar progress-bar-info progress-bar-striped active"><span class="sr-only">60% Complete</span></div>
          </div>
          <div class="progress">
            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;" class="progress-bar progress-bar-warning progress-bar-striped active"><span class="sr-only">60% Complete</span></div>
          </div>
          <div class="progress">
            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;" class="progress-bar progress-bar-danger progress-bar-striped active"><span class="sr-only">60% Complete</span></div>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <div class="caption">Sizes</div>
        </div>
        <div class="panel-body">
          <div class="progress progress-xs">
            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;" class="progress-bar progress-bar-success progress-bar-striped"><span class="sr-only">60% Complete</span></div>
          </div>
          <div class="progress">
            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;" class="progress-bar progress-bar-info"><span class="sr-only">60% Complete</span></div>
          </div>
          <div class="progress progress-md">
            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;" class="progress-bar progress-bar-warning progress-bar-striped active"><span class="sr-only">60% Complete</span></div>
          </div>
          <div class="progress progress-lg">
            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;" class="progress-bar progress-bar-danger progress-bar-striped active"><span class="sr-only">60% Complete</span></div>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <div class="caption">Completed</div>
        </div>
        <div class="panel-body">
          <div class="progress progress-lg">
            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;" class="progress-bar progress-bar-success progress-bar-striped">70%</div>
          </div>
          <div class="progress progress-md">
            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;" class="progress-bar progress-bar-info">50%</div>
          </div>
          <div class="progress progress-lg">
            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;" class="progress-bar progress-bar-warning progress-bar-striped active">20%</div>
          </div>
          <div class="progress">
            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;" class="progress-bar progress-bar-danger progress-bar-striped active">90%</div>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <div class="caption">Stacked</div>
        </div>
        <div class="panel-body">
          <div class="progress">
            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;" class="progress-bar progress-bar-success progress-bar-striped"></div>
            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 10%;" class="progress-bar progress-bar-info"></div>
            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 15%;" class="progress-bar progress-bar-warning progress-bar-striped active"></div>
            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;" class="progress-bar progress-bar-danger progress-bar-striped active"></div>
          </div>
        </div>
      </div>
      <div class="heading-box">Lable</div>
      <div class="panel">
        <div class="panel-heading">
          <div class="caption">Labels Basic</div>
        </div>
        <div class="panel-body text-center"><span class="label label-default">Default</span><span class="label label-primary">Primary</span><span class="label label-success">Success</span><span class="label label-info">Info</span><span class="label label-warning">Warning</span><span class="label label-danger">Danger</span></div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <div class="caption">Labels Shadow</div>
        </div>
        <div class="panel-body text-center"><span class="label label-default label-shadow">Default</span><span class="label label-primary label-shadow">Primary</span><span class="label label-success label-shadow">Success</span><span class="label label-info label-shadow">Info</span><span class="label label-warning label-shadow">Warning</span><span class="label label-danger label-shadow">Danger</span></div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <div class="caption">Labels Radius</div>
        </div>
        <div class="panel-body text-center"><span class="label label-default label-radius">Default</span><span class="label label-primary label-radius">Primary</span><span class="label label-success label-radius">Success</span><span class="label label-info label-radius">Info</span><span class="label label-warning label-radius">Warning</span><span class="label label-danger label-radius">Danger</span></div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <div class="caption">Labels Pulsate</div>
        </div>
        <div class="panel-body text-center"><span data-pulsate="{glow:false}" class="label label-default">Default</span><span data-pulsate="{glow:false}" class="label label-primary">Primary</span><span data-pulsate="{glow:false}" class="label label-success">Success</span><span data-pulsate="{glow:false}" class="label label-info">Info</span><span data-pulsate="{glow:false}" class="label label-warning">Warning</span><span data-pulsate="{glow:false}" class="label label-danger">Danger</span></div>
      </div>
    </div>
  </div>
</div>