
<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Nestable List</div>
      </div>
      <div class="panel-body">
        <div class="note note-success"><strong><i class="fa fa-tags"></i>Note!</strong>
          <p>Nestable List Plugin supported in Firefox, Chrome, Opera, Safari, Internet Explorer 10 and Internet Explorer 9 only. Internet Explorer 8 not supported.</p>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="panel">
              <div class="panel-body"><strong>Serialised Output (Nestable List 1)</strong>
                <textarea id="nestable-output" class="form-control"></textarea>
                <div id="nestable" class="dd">
                  <ol class="dd-list">
                    <li data-id="1" class="dd-item">
                      <div class="dd-handle">Item 1</div>
                    </li>
                    <li data-id="2" class="dd-item">
                      <div class="dd-handle">Item 2</div>
                      <ol class="dd-list">
                        <li data-id="3" class="dd-item">
                          <div class="dd-handle">Item 3</div>
                        </li>
                        <li data-id="4" class="dd-item">
                          <div class="dd-handle">Item 4</div>
                        </li>
                        <li data-id="5" class="dd-item">
                          <div class="dd-handle">Item 5</div>
                          <ol class="dd-list">
                            <li data-id="6" class="dd-item">
                              <div class="dd-handle">Item 6</div>
                            </li>
                            <li data-id="7" class="dd-item">
                              <div class="dd-handle">Item 7</div>
                            </li>
                            <li data-id="8" class="dd-item">
                              <div class="dd-handle">Item 8</div>
                            </li>
                          </ol>
                        </li>
                        <li data-id="9" class="dd-item">
                          <div class="dd-handle">Item 9</div>
                        </li>
                        <li data-id="10" class="dd-item">
                          <div class="dd-handle">Item 10</div>
                        </li>
                      </ol>
                    </li>
                    <li data-id="11" class="dd-item">
                      <div class="dd-handle">Item 11</div>
                    </li>
                    <li data-id="12" class="dd-item">
                      <div class="dd-handle">Item 12</div>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel">
              <div class="panel-body"><strong>Serialised Output (Nestable List 2)</strong>
                <textarea id="nestable2-output" class="form-control"></textarea>
                <div id="nestable2" class="dd">
                  <ol class="dd-list">
                    <li data-id="13" class="dd-item">
                      <div class="dd-handle">Item 13</div>
                    </li>
                    <li data-id="14" class="dd-item">
                      <div class="dd-handle">Item 14</div>
                    </li>
                    <li data-id="15" class="dd-item">
                      <div class="dd-handle">Item 15</div>
                      <ol class="dd-list">
                        <li data-id="16" class="dd-item">
                          <div class="dd-handle">Item 16</div>
                        </li>
                        <li data-id="17" class="dd-item">
                          <div class="dd-handle">Item 17</div>
                        </li>
                        <li data-id="18" class="dd-item">
                          <div class="dd-handle">Item 18</div>
                        </li>
                      </ol>
                    </li>
                    <li data-id="19" class="dd-item">
                      <div class="dd-handle">Item 19</div>
                      <ol class="dd-list">
                        <li data-id="20" class="dd-item">
                          <div class="dd-handle">Item 20</div>
                        </li>
                        <li data-id="21" class="dd-item">
                          <div class="dd-handle">Item 21</div>
                        </li>
                        <li data-id="21" class="dd-item">
                          <div class="dd-handle">Item 21</div>
                        </li>
                      </ol>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Nestable List 3</div>
      </div>
      <div class="panel-body">
        <div id="nestable3" class="dd">
          <ol class="dd-list">
            <li data-id="1" class="dd-item dd3-item">
              <div class="dd-handle dd3-handle"></div>
              <div class="dd3-content">Item 1</div>
            </li>
            <li data-id="2" class="dd-item dd3-item">
              <div class="dd-handle dd3-handle"></div>
              <div class="dd3-content">Item 2</div>
            </li>
            <li data-id="3" class="dd-item dd3-item">
              <div class="dd-handle dd3-handle"></div>
              <div class="dd3-content">Item 3</div>
              <ol class="dd-list">
                <li data-id="4" class="dd-item dd3-item">
                  <div class="dd-handle dd3-handle"></div>
                  <div class="dd3-content">Item 4</div>
                </li>
                <li data-id="5" class="dd-item dd3-item">
                  <div class="dd-handle dd3-handle"></div>
                  <div class="dd3-content">Item 5</div>
                </li>
                <li data-id="6" class="dd-item dd3-item">
                  <div class="dd-handle dd3-handle"></div>
                  <div class="dd3-content">Item 6</div>
                </li>
              </ol>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>