
<div class="heading-box">Default Panel</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Basic Panel</div>
      </div>
      <div class="panel-body">
        <p>Vestibulum mollis, lorem sed finibus lobortis, purus tortor aliquet lorem, at ultricies nulla nulla at dolor. Vestibulum accumsan est quis purus efficitur volutpat. Phasellus elementum erat ex, a ullamcorper velit iaculis ut. Proin eu justo quis eros mattis sollicitudin. Nam non nunc erat. Morbi efficitur luctus dolor ut feugiat. Aenean pharetra rutrum sodales. Morbi efficitur erat at ullamcorper tincidunt.</p>
      </div>
    </div>
  </div>
</div>
<div class="heading-box">Panel with Actions</div>
<div class="row">
  <div class="col-md-4">
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Panel with Search</div>
        <div class="tools">
          <div class="input-icon right"><i class="icon-magnifier"></i>
            <input type="text" placeholder="Search..." class="input-sm form-control form-control-solid"/>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <p>Vestibulum mollis, lorem sed finibus lobortis, purus tortor aliquet lorem, at ultricies nulla nulla at dolor. Vestibulum accumsan est quis purus efficitur volutpat. Phasellus elementum erat ex, a ullamcorper velit iaculis ut. Proin eu justo quis eros mattis sollicitudin. Nam non nunc erat. Morbi efficitur luctus dolor ut feugiat. Aenean pharetra rutrum sodales. Morbi efficitur erat at ullamcorper tincidunt.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Panel with Tabs</div>
        <div class="tools">
          <ul role="tablist" class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab">Tab 1</a></li>
            <li><a href="#tab_2" data-toggle="tab">Tab 2</a></li>
            <li><a href="#tab_3" data-toggle="tab">Tab 3</a></li>
          </ul>
        </div>
      </div>
      <div class="tab-content">
        <div id="tab_1" class="tab-pane fade in active">
          <p>Raw denim you probably haven"t heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </div>
        <div id="tab_2" class="tab-pane fade">
          <p>Food truck fixie locavore, accusamus mcsweeney"s marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown.</p>
        </div>
        <div id="tab_3" class="tab-pane fade">
          <p>Food truck fixie locavore, accusamus mcsweeney"s marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Panel with Scroll</div>
      </div>
      <div class="panel-body">
        <div class="panel-scroll">
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="heading-box">Panel with Colors</div>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="caption">Default Panel</div>
      </div>
      <div class="panel-body">
        <p>Vestibulum mollis, lorem sed finibus lobortis, purus tortor aliquet lorem, at ultricies nulla nulla at dolor. Vestibulum accumsan est quis purus efficitur volutpat. Phasellus elementum erat ex, a ullamcorper velit iaculis ut. Proin eu justo quis eros mattis sollicitudin. Nam non nunc erat. Morbi efficitur luctus dolor ut feugiat. Aenean pharetra rutrum sodales. Morbi efficitur erat at ullamcorper tincidunt.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="caption">Primary Panel</div>
      </div>
      <div class="panel-body">
        <p>Vestibulum mollis, lorem sed finibus lobortis, purus tortor aliquet lorem, at ultricies nulla nulla at dolor. Vestibulum accumsan est quis purus efficitur volutpat. Phasellus elementum erat ex, a ullamcorper velit iaculis ut. Proin eu justo quis eros mattis sollicitudin. Nam non nunc erat. Morbi efficitur luctus dolor ut feugiat. Aenean pharetra rutrum sodales. Morbi efficitur erat at ullamcorper tincidunt.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <div class="caption">Success Panel</div>
      </div>
      <div class="panel-body">
        <p>Vestibulum mollis, lorem sed finibus lobortis, purus tortor aliquet lorem, at ultricies nulla nulla at dolor. Vestibulum accumsan est quis purus efficitur volutpat. Phasellus elementum erat ex, a ullamcorper velit iaculis ut. Proin eu justo quis eros mattis sollicitudin. Nam non nunc erat. Morbi efficitur luctus dolor ut feugiat. Aenean pharetra rutrum sodales. Morbi efficitur erat at ullamcorper tincidunt.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <div class="caption">Warning Panel</div>
      </div>
      <div class="panel-body">
        <p>Vestibulum mollis, lorem sed finibus lobortis, purus tortor aliquet lorem, at ultricies nulla nulla at dolor. Vestibulum accumsan est quis purus efficitur volutpat. Phasellus elementum erat ex, a ullamcorper velit iaculis ut. Proin eu justo quis eros mattis sollicitudin. Nam non nunc erat. Morbi efficitur luctus dolor ut feugiat. Aenean pharetra rutrum sodales. Morbi efficitur erat at ullamcorper tincidunt.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="caption">Info Panel</div>
      </div>
      <div class="panel-body">
        <p>Vestibulum mollis, lorem sed finibus lobortis, purus tortor aliquet lorem, at ultricies nulla nulla at dolor. Vestibulum accumsan est quis purus efficitur volutpat. Phasellus elementum erat ex, a ullamcorper velit iaculis ut. Proin eu justo quis eros mattis sollicitudin. Nam non nunc erat. Morbi efficitur luctus dolor ut feugiat. Aenean pharetra rutrum sodales. Morbi efficitur erat at ullamcorper tincidunt.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <div class="caption">Danger Panel</div>
      </div>
      <div class="panel-body">
        <p>Vestibulum mollis, lorem sed finibus lobortis, purus tortor aliquet lorem, at ultricies nulla nulla at dolor. Vestibulum accumsan est quis purus efficitur volutpat. Phasellus elementum erat ex, a ullamcorper velit iaculis ut. Proin eu justo quis eros mattis sollicitudin. Nam non nunc erat. Morbi efficitur luctus dolor ut feugiat. Aenean pharetra rutrum sodales. Morbi efficitur erat at ullamcorper tincidunt.</p>
      </div>
    </div>
  </div>
</div>