
<div class="row">
  <div class="col-sm-6">
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Basic</div>
      </div>
      <div class="panel-body">
        <ul id="demoBasic" class="ztree"></ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Checkbox Operation</div>
      </div>
      <div class="panel-body">
        <ul id="demoCheck" class="ztree"></ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Radio Operation</div>
      </div>
      <div class="panel-body">
        <ul id="demoRadio" class="ztree"></ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Normal Drag Node Operation</div>
      </div>
      <div class="panel-body">
        <ul id="demoDrag" class="ztree"></ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Edit Nodes</div>
      </div>
      <div class="panel-body">
        <ul id="demoEdit" class="ztree"></ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Search Nodes</div>
      </div>
      <div class="panel-body">
        <div class="form-group has-feedback has-success">
          <input id="key" type="text" class="form-control empty"/><span style="top:0" class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
        <ul id="treeDemo" class="ztree"></ul>
      </div>
    </div>
  </div>
</div>