
<div class="row">
  <div class="col-lg-8">
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Paragraphs</div>
      </div>
      <div class="panel-body">
        <p class="lead">Simple float down text<span class="float-down-text"> paragraph</span></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          <sapn class="float-down-text text-success"> Suspendisse 
          </sapn>a adipiscing lectus.Aenean fermentum mauris erat, quis accumsan eros facilisis sed. Nullam convallis arcu nec imperdiet pharetra. Suspendisse sed pharetra orci. Integer elementum augue sed dui sollicitudin, eu molestie leo rutrum. Vestibulum sit amet ullamcorper nunc.
        </p>
        <p>Mauris aliquet ultricies ante, non<span class="word-rotate"><span class="word-rotate-items"><span>lorem</span><span>ipsum</span><span>dolor</span><span>lorem</span></span></span>. Sed ultrices pellentesque purus, vulputate.</p>
        <p>MTek Admin is<span class="word-rotate word-rotate-info"><span class="word-rotate-items"><span>incredibly</span><span>especially</span><span>extremely</span></span></span>beautiful.</p>
        <p>MTek Admin is<span class="word-rotate word-rotate-success"><span class="word-rotate-items"><span>incredibly</span><span>especially</span><span>extremely</span></span></span>beautiful.</p>
        <p>MTek Admin is<span class="word-rotate word-rotate-danger"><span class="word-rotate-items"><span>incredibly</span><span>especially</span><span>extremely</span></span></span>beautiful.</p>
        <p>MTek Admin is<span class="word-rotate word-rotate-primary"><span class="word-rotate-items"><span>incredibly</span><span>especially</span><span>extremely</span></span></span>beautiful.</p>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">General</div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <h3>Sample Text</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel eros. In sed ornare nulla.</p>
            <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.</p>
            <div class="clearfix"></div>
            <h3>Sample text with lead body</h3>
            <p class="lead">Lead body. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel eros. In sed ornare nulla.</p>
            <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.</p>
            <div class="clearfix"></div>
            <h3>More Text</h3>
            <p><small>Small text.</small> Lorem ipsum dolor
            </p>
            <p>Lorem ipsum dolor sit amet <strong>Bold text</strong>
            </p>
            <p><em>Italic text.</em> Lorem ipsum dolor
            </p>
            <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>
            </p>
            <p><abbr title="HyperText Markup Language" class="initialism">HTML</abbr> is the best thing since sliced bread.
            </p>
          </div>
          <div class="col-md-6">
            <h3>Text States</h3>
            <p class="text-muted">Muted text Lorem ipsum dolor sit</p>
            <p class="text-primary">Primary text Lorem ipsum dolor sit</p>
            <p class="text-success">Success text Lorem ipsum dolor sit</p>
            <p class="text-warning">Warning text Lorem ipsum dolor sit</p>
            <p class="text-info">Info text Lorem ipsum dolor sit</p>
            <p class="text-danger">Danger text Lorem ipsum dolor sit</p>
            <div class="clearfix"></div>
            <h3>Heading</h3>
            <h1>h1.Heading 1</h1>
            <h2>h2.Heading 2</h2>
            <h3>h3.Heading 3</h3>
            <h4>h4.Heading 4</h4>
            <h5>h5.Heading 5</h5>
            <h6>h6.Heading 6</h6>
            <div class="clearfix"></div>
            <h3>Address</h3>
            <div class="well">
              <address><strong>Twitter, Inc.</strong><br/>795 Folsom Ave, Suite 600<br/>San Francisco, CA 94107<br/><abbr title="Phone">P:</abbr>(123) 456-7890</address>
              <address><strong>Full Name</strong><br/><a href="mailto:#">first.last@example.com</a></address>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Blockquotes</div>
      </div>
      <div class="panel-body">
        <blockquote>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        </blockquote>
        <blockquote>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer>Someone famous in
            <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote><code>.blockquote-reverse</code>
        <blockquote class="blockquote-reverse">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer>Someone famous in
            <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote><code>.blockquote-success</code>
        <blockquote class="blockquote-success">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer>Someone famous in
            <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote><code>.blockquote-info</code>
        <blockquote class="blockquote-info">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer>Someone famous in
            <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote><code>.blockquote-warning</code>
        <blockquote class="blockquote-warning">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer>Someone famous in
            <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote><code>.blockquote-danger</code>
        <blockquote class="blockquote-danger">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer>Someone famous in
            <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Alignments</div>
      </div>
      <div class="panel-body">
        <p class="text-left">Left aligned text.</p>
        <p class="text-center">Center aligned text.</p>
        <p class="text-right">Right aligned text.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Dropcaps</div>
      </div>
      <div class="panel-body">
        <p><span class="drop-cap text-info">C</span>um sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.<strong>Donec ullamcorper</strong>nulla non m   etus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Ordered Lists</div>
      </div>
      <div class="panel-body">
        <ol>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consectetur adipiscing elit</li>
          <li>Integer molestie lorem at massa</li>
          <li>Facilisis in pretium nisl aliquet</li>
          <li>Nulla volutpat aliquam velit</li>
          <li>Faucibus porta lacus fringilla vel</li>
          <li>Aenean sit amet erat nunc</li>
          <li>Eget porttitor lorem</li>
        </ol>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Unordered Lists</div>
      </div>
      <div class="panel-body">
        <ul>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consectetur adipiscing elit</li>
          <li>Integer molestie lorem at massa</li>
          <li>Facilisis in pretium nisl aliquet</li>
          <li>Nulla volutpat aliquam velit
            <ul>
              <li>Phasellus iaculis neque</li>
              <li>Purus sodales ultricies</li>
              <li>Vestibulum laoreet porttitor sem</li>
              <li>Ac tristique libero volutpat at</li>
            </ul>
          </li>
          <li>Faucibus porta lacus fringilla vel</li>
          <li>Aenean sit amet erat nunc</li>
          <li>Eget porttitor lorem</li>
        </ul>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Lists With Font Awesome</div>
      </div>
      <div class="panel-body">
        <ul class="list-icon">
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consectetur adipiscing elit</li>
          <li>Integer molestie lorem at massa</li>
          <li>Facilisis in pretium nisl aliquet</li>
          <li>Nulla volutpat aliquam velit</li>
          <li>Faucibus porta lacus fringilla vel</li>
          <li>Aenean sit amet erat nunc</li>
          <li>Eget porttitor lorem</li>
        </ul>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Unstyled Lists</div>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consectetur adipiscing elit</li>
          <li>Integer molestie lorem at massa</li>
          <li>Facilisis in pretium nisl aliquet</li>
          <li>Nulla volutpat aliquam velit</li>
          <li>Faucibus porta lacus fringilla vel</li>
          <li>Aenean sit amet erat nunc</li>
          <li>Eget porttitor lorem</li>
        </ul>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Inline Lists</div>
      </div>
      <div class="panel-body">
        <ol class="list-inline">
          <li>1.Lorem ipsum</li>
          <li>2.Consectetur</li>
          <li>3.Integer</li>
        </ol>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Description Lists</div>
      </div>
      <div class="panel-body">
        <dl>
          <dt>Description lists</dt>
          <dd>A description list is perfect for defining terms.</dd>
          <dt>Euismod</dt>
          <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
          <dd>Donec id elit non mi porta gravida at eget metus.</dd>
          <dt>Malesuada porta</dt>
          <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
        </dl>
      </div>
    </div>
  </div>
</div>