<component name="ArtifactManager">
  <artifact type="exploded-war" name="springWebBase:war exploded">
    <output-path>$PROJECT_DIR$/target/springWebBase</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springWebBase/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springWebBase" />
        </element>
      </element>
    </root>
  </artifact>
</component>